body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #454d6b;
}

.container {
  max-width: 300px;
  margin: 250px auto;
  background-color: #353b50;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

h2,label {
  text-align: center;
  margin-bottom: 30px;
  color: #d6d7dc;
}

form {
    display: flex;
    flex-direction: column;
}

#btn:hover {
    background-color: #9d1e40;
}

#btn {
  width: 100%;
  padding: 10px;
  height: 50px;
  border: none;
  background-color: #a13854;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}